.NavLinks {
    color: rgb(0, 0, 0) !important;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, letter-spacing 0.3s ease;
}

.NavLinks::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease;
}


.NavLinks:hover::after {
    width: 100%;
}